/* Universal Styles */

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Helvetica;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;   
}

/* Header */

header {
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid seashell;
}

header img {
    height: 50px;
}

nav a {
    color: inherit;
    margin: 0 10px;
}

/* Main Content */

main {
    height: 700px;
    background: url("./images/mission.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
}

#mission {
    background-color: black;
    width: 100%;
}

#mission *{
   margin: 10px 0; 
}

/* Tea Choices */

section {
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

section img {
    height: 200px;
    width: 300px;
    margin: 0 15px;
}

section h4 {
    margin: 10px 0;
}

section .banner {
    width: 100%;
    margin-bottom: 25px;
}

section .choices {
    display: flex;
    justify-content: center;
}

/* Locations */

#location {
    background: url("./images/locations.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;   
    height: 650px;
    flex-direction: column;
    margin-bottom: 0;
}

section .choice {
    display: flex;
    height: 380px;
}

section .address {
   background-color: black;
   width: 300px;
   height: 250px;
   margin: 0 15px;
   padding-bottom: 30px;
}

section .address h3 {
   padding-top: 10px;
   line-height: 20%;
}

section .address h4 {
    line-height: 300%;
}

section .title {
   width: 100%;
   text-align: center;
   font-weight: bolder;
   font-size: larger;
}

section .choices {
    display: flex;
    flex-direction: row;
}

/* Contact Details */

.content4 {
    height: 200px;
    width: 100%;
}

.content4 h2 {
    margin-top: 10px;
}

.content4 h5 {
    line-height: 300%;
}

/* Footer */

#footer {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}